name: Build and Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_windows:
    name: Windows Client
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Set Environment
        shell: pwsh
        run: |
          choco install make -y
          flutter pub get

      - name: Build
        shell: pwsh
        run: |
          make build-windows-exe

      - uses: actions/upload-artifact@v4
        with:
          name: soft-window
          path: |
            .release/webdav_x_windows_x64_boxed.exe
          retention-days: 1

  build_android:
    name: Android Client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: "17"

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('android/build.gradle', 'android/app/build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Setup Android Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | tr -d '\n' | base64 --decode > android/app/release-keystore.jks
          echo "storeFile=release-keystore.jks" > android/key.properties
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties

      - name: Set Environment
        run: |
          mkdir .release
          flutter pub get

      - name: Build
        run: |
          make build-apk
          make build-all-apk

      - uses: actions/upload-artifact@v4
        with:
          name: soft-apk
          path: |
            .release/android.apk
            .release/android-arm64-v8a.apk
            .release/android-armeabi-v7a.apk
            .release/android-x86_64.apk
          retention-days: 1

  build_ios:
    name: iOS Client
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Set Environment
        run: |
          flutter pub get

      - name: Build
        run: |
          make build-ios
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r9 iphone.ipa Payload

      - uses: actions/upload-artifact@v4
        with:
          name: soft-ios
          path: iphone.ipa
          retention-days: 1

  release:
    name: Release
    permissions:
      contents: write
    needs:
      - build_windows
      - build_android
      - build_ios
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v5

      - uses: actions/download-artifact@v4
        with:
          name: soft-window
          path: soft-window

      - uses: actions/download-artifact@v4
        with:
          name: soft-apk
          path: soft-apk

      - uses: actions/download-artifact@v4
        with:
          name: soft-ios
          path: soft-ios

      - name: Get version
        run: |
          VERSION=$(awk -F': ' '/version:/ {gsub("\\+", "-", $2); print $2}' pubspec.yaml)
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Rename release files
        run: |
          mv soft-window/webdav_x_windows_x64_boxed.exe soft-window/webdavx-${{ env.VERSION }}-windows-x86_64.exe
          mv soft-apk/android.apk soft-apk/webdavx-${{ env.VERSION }}-android.apk
          mv soft-apk/android-arm64-v8a.apk soft-apk/webdavx-${{ env.VERSION }}-android-arm64-v8a.apk
          mv soft-apk/android-armeabi-v7a.apk soft-apk/webdavx-${{ env.VERSION }}-android-armeabi-v7a.apk
          mv soft-apk/android-x86_64.apk soft-apk/webdavx-${{ env.VERSION }}-android-x86_64.apk
          mv soft-ios/iphone.ipa soft-ios/webdavx-${{ env.VERSION }}-iphone.ipa

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          body_path: release-content.md
          files: |
            soft-apk/*.apk
            soft-window/*.exe
            soft-ios/*.ipa
